/* Variables */

// Main Primary color */
$color_primary_0: #F2BD1F;
$color_primary_1: #FFDC75;
$color_primary_2: #FFD24C;
$color_primary_3: #C59608;
$color_primary_4: #9C7500;

// Main Complement color */
$color_alt_0: #2C2CA9;	
$color_alt_1: #6B6BC7;
$color_alt_2: #4848B2;
$color_alt_3: #19198A;
$color_alt_4: #0F0F6D;

// Defaults
$color_white: #FFFFFF;
$color_white_alt: #f3f3f3;

$color_black: #000000;
$color_black_alt: #222222;



// Font-Family
$font_main: "Montserrat", Sans-serif;
$font_alt: "Oswald", Sans-serif;
