/* Variables */
/*Mixins*/
body {
  background: #f3f3f3;
  font-family: "Montserrat", Sans-serif;
  color: #222222;
  font-weight: 300;
}

.section-heading {
  text-transform: uppercase;
  font-family: "Oswald", Sans-serif;
  font-size: 36px;
  letter-spacing: 9.2px;
  margin: 3rem auto;
  font-weight: 300;
}

.navbar .nav-item {
  padding: 0rem 1.8rem;
  font-size: 0.79rem;
  font-weight: 600;
  letter-spacing: 3.1px;
  transition: all .5s ease-in-out;
}

.navbar .nav-link:hover {
  outline: 1px solid #FFD24C;
  color: #FFD24C !important;
  font-weight: 600;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.85), rgba(0, 0, 0, 0.95)), url("https://i.ibb.co/f9zmC1b/you-x-ventures-Oalh2-Moj-Uuk-unsplash-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  height: 35rem;
}

.hero__heading {
  color: #FFFFFF;
  font-weight: 300;
}

.hero__heading--main {
  display: block;
  letter-spacing: 12px;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .hero__heading--main {
    font-size: 0.7rem;
    padding: 0rem 3rem;
    margin-top: 2rem;
  }
}

.hero__heading--sub {
  display: block;
  font-family: "Oswald", Sans-serif;
  font-size: 5rem;
  padding: 0rem 5rem;
  margin: 2rem auto;
  color: #F2BD1F;
}

@media only screen and (max-width: 56.25em) {
  .hero__heading--sub {
    font-size: 3rem;
    margin: 0.5rem auto;
    padding: 0rem 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero__heading--sub {
    font-size: 2rem;
    padding: 1rem;
  }
}

.hero__heading--slug {
  display: block;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: none;
  line-height: 1.85rem;
  font-size: 0.85rem;
  padding: 0 15rem;
}

@media only screen and (max-width: 37.5em) {
  .hero__heading--slug {
    font-size: 0.7rem;
    padding: 1rem;
    line-height: 0.95rem;
  }
}

.service-cards .card {
  transition: all 0.1s ease-in;
  background: #f3f3f3 !important;
  border: none;
  padding: 2rem 0.95rem;
  border-radius: 0;
  font-weight: 300;
  font-size: 0.85rem;
}

@media only screen and (max-width: 56.25em) {
  .service-cards .card {
    padding: 0rem;
  }
}

.service-cards .card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.service-cards .card:hover .service-cards__title {
  color: #FFD24C;
}

.service-cards__icon {
  font-size: 3.5rem;
}

.service-cards__title {
  font-family: "Oswald", Sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25em) {
  .service-cards__title {
    font-size: 0.7rem;
    padding: 0rem;
  }
}

.service-cards__text {
  color: #4c4d4f;
}

.about-section {
  background: #FFFFFF;
}

.about-section-left {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95)), url("https://i.ibb.co/JCsZ1vG/mimi-thian-VHQ0cw2eu-A-unsplash.jpg");
  background-size: cover;
  background-position: top center;
  height: 100%;
}

.about-section-right {
  padding: 3rem 4rem;
}

.about-section__text {
  color: #4c4d4f;
  line-height: 29px;
}
