/* Variables */
/*Mixins*/
body {
  background: #f3f3f3;
  font-family: "Montserrat", Sans-serif;
  color: #222222;
  font-weight: 300;
}

a:hover {
  color: #F2BD1F !important;
}

.section-heading {
  text-transform: uppercase;
  font-family: "Oswald", Sans-serif;
  font-size: 36px;
  letter-spacing: 9.2px;
  margin: 5rem auto;
  font-weight: 300;
}

.navbar .nav-item {
  padding: 0rem 1.8rem;
  font-size: 0.79rem;
  font-weight: 600;
  letter-spacing: 3.1px;
  transition: all .5s ease-in-out;
}

.navbar .nav-link:hover {
  outline: 1px solid #FFD24C;
  color: #FFD24C !important;
  font-weight: 600;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.85), rgba(0, 0, 0, 0.95)), url("https://i.ibb.co/f9zmC1b/you-x-ventures-Oalh2-Moj-Uuk-unsplash-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  height: 35rem;
}

.hero__heading {
  color: #FFFFFF;
  font-weight: 300;
}

.hero__heading--main {
  display: block;
  letter-spacing: 12px;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .hero__heading--main {
    font-size: 0.7rem;
    padding: 0rem 3rem;
    margin-top: 2rem;
  }
}

.hero__heading--sub {
  display: block;
  font-family: "Oswald", Sans-serif;
  font-size: 5rem;
  padding: 0rem 5rem;
  margin: 2rem auto;
  color: #F2BD1F;
}

@media only screen and (max-width: 56.25em) {
  .hero__heading--sub {
    font-size: 3rem;
    margin: 0.5rem auto;
    padding: 0rem 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero__heading--sub {
    font-size: 2rem;
    padding: 1rem;
  }
}

.hero__heading--slug {
  display: block;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: none;
  line-height: 1.85rem;
  font-size: 0.85rem;
  padding: 0 15rem;
}

@media only screen and (max-width: 37.5em) {
  .hero__heading--slug {
    font-size: 0.7rem;
    padding: 1rem;
    line-height: 0.95rem;
  }
}

.service-cards .card {
  background: #f3f3f3 !important;
  border: none;
  padding: 1rem 0.95rem 0.5rem;
  border-radius: 0;
  font-weight: 300;
  font-size: 0.85rem;
}

@media only screen and (max-width: 56.25em) {
  .service-cards .card {
    padding: 0rem;
  }
}

.service-cards .card:hover {
  box-shadow: 0px 0px 10px 0px rgba(34, 34, 34, 0.5);
}

.service-cards .card:hover .service-cards__title {
  color: #FFD24C;
  transition: all .3s ease-in;
}

.service-cards .card__list {
  line-height: 27.2px;
  color: #4c4d4f;
}

.service-cards__icon {
  font-size: 3.5rem;
}

.service-cards__title {
  font-family: "Oswald", Sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media only screen and (max-width: 56.25em) {
  .service-cards__title {
    font-size: 0.7rem;
    padding: 0rem;
  }
}

.about-section {
  background: #FFFFFF;
}

.about-section-left {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.55)), url("https://i.ibb.co/sydnxzF/download-force-true-w-640.jpg");
  background-size: cover;
  background-position: center center;
  filter: grayscale(1);
  height: 100%;
}

.about-section-right {
  padding: 3rem 4rem;
}

.about-section__text {
  color: #4c4d4f;
  line-height: 29px;
}

.misson-section-left {
  padding: 1rem 4rem;
}

.misson-section-right {
  background-image: linear-gradient(to left top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95)), url("https://i.ibb.co/ctsPrtd/download-force-true-w-1920.jpg");
  background-size: cover;
  background-position: top center;
  height: 100%;
  filter: grayscale(1);
}

.btn-main {
  background: transparent;
  padding: 1rem 2rem;
  color: #FFD24C;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  border: 1px solid currentColor;
  transition: all .3s ease-in-out;
}

.btn-main:hover {
  background: #FFD24C;
  color: #FFFFFF;
  border: 1px solid currentColor;
}

.btn-main:active {
  transform: translateY(1.5px);
  background: #9C7500 !important;
  border-color: currentColor !important;
  box-shadow: 0 0 0 0.2rem rgba(156, 117, 0, 0);
}

.counter {
  font-size: 3rem;
}

.counter__count {
  font-family: "Oswald", Sans-serif;
  font-size: 2.3rem;
  letter-spacing: 3.5px;
  margin: 0;
}

.counter__title {
  font-size: 0.85rem;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

.testimony {
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.85), rgba(0, 0, 0, 0.75)), url("https://i.ibb.co/NxXhnJk/testim-bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 32em;
}

.testimony__inner {
  color: #FFFFFF;
  line-height: 33px;
  overflow: hidden;
}

.testimony__icon {
  font-size: 10rem;
  margin: 2rem auto;
}

.testimony__text {
  padding: 0rem 15em;
}

.testimony__name {
  font-family: "Oswald", Sans-serif;
  font-weight: normal;
  letter-spacing: 4px;
  padding: 0px 0px 0px;
  color: #F2BD1F;
}

.testimony__title {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0px 0px 0px;
}

.contact__form .form-control {
  background: transparent;
  color: #222222;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 17px;
  letter-spacing: 5px;
  padding: 10px 20px 10px 10px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.contact__form .form-control:focus {
  outline: none;
  box-shadow: 0 5px 32px rgba(103, 122, 141, 0.17);
}
