.about-section {
    background: $color_white;
    
    &-left {
        background-image: url('https://i.ibb.co/sydnxzF/download-force-true-w-640.jpg');
        background-size: cover;
        background-position: center center;
        height: 100%;
    }
    
    &-right {
       padding: 1rem 4rem;

    }
    
    &__text {
        color: $color_gray;
        line-height: 29px;
    }
}

.misson-section {
    &-left {
        padding: 1rem 4rem;
    }
    &-right {
        background-image:  url('https://i.ibb.co/ctsPrtd/download-force-true-w-1920.jpg');
        background-size: cover;
        background-position: top center;
        height: 100%;
        // filter: grayscale(1);
        
    }
}