.about-section {
    background: $color_white;
    
    &-left {
    background-image: linear-gradient(to right bottom, rgba($color_white, .1), rgba($color_white, 0.95)), url('https://i.ibb.co/JCsZ1vG/mimi-thian-VHQ0cw2eu-A-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    height: 100%;
    }
    
    &-right {
       padding: 3rem 4rem;
    }
    
    &__text {
        color: $color_gray;
        line-height: 29px;
    }
    
}