.btn {
    &-main {
        background: transparent;
        padding: 1rem 2rem;
        color: $color_primary_2;
        text-transform: uppercase;
        font-size: 0.85rem;
        letter-spacing: 1.5px;
        font-weight: 600;
        border: 1px solid currentColor;
        transition: all .3s ease-in-out;
        
        &:hover {
            background: $color_primary_2;
            color: $color_white;
            border: 1px solid currentColor;
        }
        &:active{
            transform: translateY(1.5px);
            background: $color_primary_4!important;
            border-color: currentColor!important;
            box-shadow: 0 0 0 0.2rem rgba($color_primary_4, 0)

        }
    }
}