.contact {
    background: rgba($color_white_alt, .95);
    &__form {
        .form-control {
        background: transparent;
        color: #222222;
        
        font-size: 0.85rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 17px;
        letter-spacing: 5px;
        padding: 10px 20px 10px 10px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
       
            &:focus {
                outline: none;
                box-shadow: 0 5px 32px rgba(103,122,141,.17);
                   background: $color_white;
            }
        }
        
    }
}