.service-cards {
   
    .card {
        background: $color_white!important;
        border: none;
        padding: 1rem 0.95rem 0.5rem;
        border-radius: 0;
        font-weight: 300;
        font-size: 0.85rem;
    
        @include respond(tab-port) {
            padding: 0rem;
        }
        
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba($color_black_alt,0.5);
        }
        &:hover .service-cards__title {
                color: $color_primary_2;
                transition: all .3s ease-in;
        }
        
        &__list {
            line-height: 27.2px;
            color: $color_gray;
         }
    }
    &__icon {
        font-size: 3.5rem;
    }
    &__title {
        font-family: $font_alt;
        letter-spacing: 3px;
        text-transform: uppercase;

            @include respond(tab-port) {
            font-size: 0.7rem;
                padding: 0rem;
        }

    
    }    
}